/*------------------------------------ESTILOS GENERALES-------------------------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

body {
    height: 100vh;
}

header {
    position: fixed;
    width: 100%;
}

h2 {
    color: #278fa1;
}

img {
    max-width: 150px;
    max-height: 150px;
}
/*----------------------------------------HEADER------------------------------------------*/

.nav {
    display: flex;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
}

.logo {
    display: flex;
}

.logo h1{
    color: #000;
    font-size: 20px;
}

.logo img {
    height: 60px;
    width: 60px;
    border-radius: 15px;
    margin: 0 10px 0 60px;
}

.menu {
    display: flex;
    margin-right: 50px;
}

.menu li{
    margin: 20px;
}

.menu li a{
    color: #000;
    text-decoration: none;
    transition: all 0.3s;
    font-family: 'Heebo', sans-serif;
}

.menu li a:hover {
    padding: 5px 10px;
    background-color: #278fa1;
    color: #fff;
    border-radius: 15px;
}

/*-----------------------------------------SECTION HOME-----------------------------------*/

#home {
    background-image: url(../Imagenes/fondo.jpg);  
    background-size: cover;
    background-position: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    color: #fff;
}

#home h1 {
    font-size: 50px;
    color: #fff;
    border-radius: 15px;
    padding-left: 10px;
}

#home p {
    max-width: 800px;
    color: #fff;
    font-size: 30px;
    padding-left: 10px;
}

/*--------------------------------------Seccion Remeras---------------------------*/

#remeras{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: center;
}

.remeras-encabezado {
    font-size: 40px;
    color: #278fa1;
    margin-bottom: 100px;
    margin-left: 2em;
}

.remeras-contenedor {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.remera-1 img{
    width: 200px;
    height: 200px;
}

.remera-2 img{
    width: 200px;
    height: 200px;
}

.remera-3 img{
    width: 200px;
    height: 200px;
}

.precio-producto {
    font-size: 25px;
}

/*-----------------------------------Seccion Pantalones -----------------------------*/

#pantalones{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: center;
}

.pantalones-encabezado {
    font-size: 40px;
    color: #278fa1;
    margin-bottom: 100px;
    margin-left: 2em;
}

.pantalones-contenedor {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.pantalon-1 img{
    width: 200px;
    height: 200px;
}

.pantalon-2 img{
    width: 200px;
    height: 200px;
}

.pantalon-3 img{
    width: 200px;
    height: 200px;
}

/*--------------------------------Section Zapatillas-----------------------------*/

#zapatillas{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: center;
}

.zapatillas-encabezado {
    font-size: 40px;
    color: #278fa1;
    margin-bottom: 100px;
    margin-left: 2em;
}

.zapatillas-contenedor {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.zapatilla-1 img{
    width: 200px;
    height: 200px;
}

.zapatilla-2 img{
    width: 200px;
    height: 200px;
}

.zapatilla-3 img{
    width: 200px;
    height: 200px;
}


/*----------------------------------------------------CONTACTO-------------------------------------------*/
#contacto{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: baseline;
}
.div-redes-contacto{
    display: flex;
    flex-direction: column;
}

.div-redes-contacto ul li a{
    display: flex;
    text-decoration: none;
    list-style: none;
    color: #000;
    padding: 10px;
}
.creditos-contacto{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.div-contacto-1{
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: baseline;
}

.contacto-encabezado{
    font-size: 2em;
    font-weight: bolder;
    padding: 10px;
    margin: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}
input[type="text"]:hover,:focus,
input[type="email"]:hover,:focus,
textarea:hover,:focus{
    background-color: #ddd;
}

button[type="submit"] {
    font-size: 16px;
    background-color: #278fa1;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#mensaje-enviado,
#mensaje-error {
    display: none;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

#mensaje-enviado {
    background-color: #e6ffe6;
    border: 1px solid #99ff99;
    color: #006600;
}

#mensaje-error {
    background-color: #ffe6e6;
    border: 1px solid #ff9999;
    color: #990000;
}


/*-------------------------------------------Footer----------------------------*/

.footer-contenedor{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.logo-footer{
    height: 60px;
    width: 60px;
    border-radius: 15px;
}

.contacto-personal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contacto-personal div a{
    text-decoration: none;
    color: #000;
}

.contenedor-redes {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
}

.contenedor-redes p{
    font-family: 'Heebo', sans-serif;
}

/*-------------------------------------------GENERAL----------------------------*/

.producto-agregar {
    border: 0;
    cursor: pointer;
    background-color: #278fa1;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
    font-weight: 400;
}

.bi-instagram {
    font-size: 20px;
    color: rgb(129, 42, 211);
}

.bi-envelope-open{
    font-size: 20px;
    color:#ff0c0c;
}

.bi-facebook,
.bi-linkedin {
    font-size: 20px;
    color: #196ac7;
}


